.nav {
  &__links {
    color: #fff;
    padding: 0.5rem 1rem;
    height: 100%;
    text-decoration: none;
    border-bottom: 3px solid transparent;
  }

  &__item {
    line-height: 40px;
    margin-right: 1rem;

    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 0;
      background-color: transparent;
      transition: width .7s ease, background-color 0.5s ease;
    }

    &:hover:after {
      width: 100%;
      background-color: #fff;
    }

    & .active {
      border-top: 3px solid #fff;
    }
  }
}

@media screen and (max-width: 960px) {
  .nav {
    &__item .active {
      color: #fff;
      border: none;
    }

    &__links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  }
}