.nav {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-left: 45px;
    
    &::after {
      position: absolute;
      content: '';
      right: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: #fff;
      border-radius: 8px;
      transition: all ease .45s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}






