.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  color: #BF9745;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  margin-top: 1%;
}

.info {
  padding-left: 100px;
  flex-basis: 30%;
  font-size: 35px;
  text-align: left;
}

.img {
  width: 70%;
  flex-basis: 70%;
}

.homeimg {
  max-width: 100%;
  height: auto;
}

.more_info {
  color: white;
  margin-left: 4%;
  margin-top: 10%;
  font-size: 24px;

  &_2 {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 103px;
    background: #C2926C;
    border: 4px solid #BF9645;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    &_content {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #2B282F;
    }
  }
}

.block_1 {
  background-color: #875232;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pruchunu {
  flex-basis: 50%;
  max-width: 45%;

  &_title{
  margin-top: 41px;
  font-style: italic;
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
  align-items: left;
  letter-spacing: 0.065em;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-bottom: 25px;

}

  &_description {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    align-items: left;
    letter-spacing: 0.04em;
    margin-bottom: 56px;
    color: #FFFFFF;
  }
}

.pruchunu2 {
  flex-basis: 50%;
  padding-right: 20px;
}

.remontimg {
  // width: 90%;
  // height: auto;
  flex-basis: 50%;
}

.remontimg2 {
  flex-basis: 50%;
  width: 90%;
  height: auto;
  margin-top: 41px;
}

.remont_info {
  max-width: 600px;
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 36px;
  align-items: center;
  text-align: right;
  letter-spacing: 0.095em;
  color: #FFFFFF;

  &_text {
    margin-top: 10%;
  }
}

.underline {
  text-decoration-line: underline;
}

.block_2 {
  display: flex;
  justify-content: space-around;
}

.block_2_info {
  max-width: 600px;
}

.block_2_title {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  margin-top: 62px;
  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;
}

.block_2_list_title {
  margin-top: 51px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.block_2_list {
  margin-top: 40px;
  font-weight: 400;
  font-size: 27px;
  line-height: 33px;
  align-items: center;
  color: #FFFFFF;
  list-style-type: circle;
}

.vanna-img {
  height: 100%;
}

.block-3-container-img {
  height: 100vh;
}

.block-3 {
  background-color: #875232;
  height: 100vh;

  &-container {
    display: flex;
    gap: 5%;
    padding: 0 90px;
  }
}

.block-3-content-title {
  margin-top: 33px;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 40px;
  line-height: 36px;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.045em;

  color: #F5F5F5;
  font-variation-settings: 'slnt' -10;
}

.block-3-content {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 23px;
  line-height: 38px;

  color: #F5F5F5;
  font-variation-settings: 'slnt' -5;
}

.block-4 {
  background-color: #875232;
}

.block-4-container {
  display: flex;
  padding: 0 100px;
}

.block-4-content-title {
  margin-top: 50px;
  display: block;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 35px;
  line-height: 115.52%;
  align-items: center;
  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;

  &-1 {
    margin-bottom: 20px;
  }

  &-2 {
    margin-bottom: 60px;
  }
}

.bl {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;

  color: #FFFFFF;
  font-variation-settings: 'slnt' -5;
}

.block-4-1 {
  margin-bottom: 20px;
}

.block-4-2 {
  margin-bottom: 20px;
}

.bc-black {
  background-color: #2B282F;
}

.block-6 {
  margin-top: 5%;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 34px;
  line-height: 115.52%;

  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.08em;

  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;
}

.block-6-description {
  margin-top: 5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 101.52%;
  display: flex;
  align-items: center;
  letter-spacing: 0.095em;
  color: #FFFFFF;
}

.block-7-title {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 34px;
  line-height: 101.52%;
  display: flex;
  align-items: center;
  letter-spacing: 0.17em;
  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;
}

.block-7-title-description {
  padding: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 117.52%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.11em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #FFFFFF;
}

.gallery {
  background-color: #875232;
  // height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
  
  &-title {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    line-height: 101.52%;
    display: flex;
    align-items: center;
    letter-spacing: 0.21em;
    color: #FFFFFF;
    font-variation-settings: 'slnt' -10;
  }

  &-vanna {
    cursor: pointer;
  }
}

.pointer {
  cursor: pointer;
}

.gallery-chodu-description {
  margin-top: 5%;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 78.52%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-chodu-description1 {
  margin-top: 10%;
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 78.52%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  font-variation-settings: 'slnt' -10;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: bottom;
}

.plutka-vorobu {
  background-color: #875232;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 101.52%;
  // display: flex;
  padding-right: 2.5%;
  letter-spacing: 0.21em;
  text-decoration-line: underline;
  color: transparent;
}

.plutka-vorobu-container-title {
  display: flex;
  justify-content: space-between;

  padding-top: 50px;
}

.empty {
  color: #875232;
  text-decoration-line: none;
}

.visibility {
  color: white;
  text-decoration: underline;
}

.vorobu-title {
  color: white;
  text-decoration: underline;

}

.cencel-button {
  color: white;
  display: flex;
  justify-content: end;
}

.gg-close-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 40px
}
.gg-close-o::after,
.gg-close-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 4px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 21px;
  left: 11px
}
.gg-close-o::after {
  transform: rotate(-45deg)
}

.gg-chevron-left-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 100px
}
.gg-chevron-left-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 12px;
  border-bottom: 4px solid;
  border-left: 4px solid;
  transform: rotate(45deg);
  left: 21px;
  top: 18px
}


.plutka-content {
  display: flex;
  padding: 50px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #875232;
}

.back-button {
  padding: 30px;
}

.footer {
  height: 40vh;

  &-description {
    padding: 5% 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 93.52%;
    align-items: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 174px;
}

.contact-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 93.52%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact-copyriting {
  padding-top: 5%;
  padding-bottom: 1%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 93.52%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.plutka-block-description {
  text-align: center;
  padding: 5%;
}

.achor_home {
  position: relative;
  top: -200px;
}

.achor_about {
  position: relative;
  top: -120px;
}

.achor_about_mobile {
  position: relative;
  top: -128px;
}

.achor_galery {
  position: relative;
  top: -120px;
}

.achor_galery_mobile {
  position: relative;
  top: -128px;
}

@media screen and (max-width: 650px) {
  .gg-close-o {
    width: 35px;
    height: 35px;
  }
  .gg-close-o::after,
  .gg-close-o::before {
    width: 18px;
    height: 2px;
    top: 15px;
    left: 7px
  }
  
  .gg-chevron-left-o {
    width: 35px;
    height: 35px;
    border: 2px solid;
  }
  .gg-chevron-left-o::after {
    content: "";
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    left: 13px;
    top: 10px
  }

  .plutka-vorobu {
    padding: 0;
  }

  .plutka-vorobu-container-title {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .cencel-button {
    margin-right: 2%;
  }

  .vorobu-title {
    font-size: 25px;
    letter-spacing: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .plutka-content {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 20px;
  }

  .back-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ctolu_mobile {
    width: 320px;
  }
}
