@media screen and (max-width: 650px) {
  .mobile {

    &__header {
      width: 100%;
      background-image: url(../../img/mobile_bg.jpg);
      background-repeat: no-repeat;
      object-fit: cover;
    }


    &_info1 {
      padding-top: 20%;
      margin-left: 15px;
      width: 90%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 19px;
      line-height: 16px;
      letter-spacing: 0.04em;
      color: #F0CB7F;
    }

    &_info2 {
      position: relative;
      top: 0;
      left: 27%;
      margin-top: 20%;
      width: 70%;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 13px;
      text-align: right;
      letter-spacing: -0.06em;
      color: #FFFFFF;
      background-color: rgb(68, 64, 64, 60%);
      border-radius: 10px;
      padding: 2%;
    }

    &_info3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20%;
      padding-bottom: 5%;
      // font-size: 14px;

      &_3 {
        text-align: center;
        width: 70%;
        background: #C2926C;
        border-radius: 10px;
        padding: 2% 3% 3% 3%;
      }
    }

    &__block1 {
      font-family: 'Inter';

      height: max-content;
      background-color: #875232;

      &__remontimg2 {
        width: 100%;
      }

      &__title{
        padding: 10px ;
        font-weight: 500;
        font-size: 15px;
        line-height: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.065em;
        text-decoration-line: underline;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -10;
      }

      &__description {
        margin-left: 5%;
        
        width: 70%;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        letter-spacing: 0.09em;
        color: #FFFFFF;
      }

      &__description2 {
        margin-top: 8%;
        margin-bottom: 2%;
        position: relative;
        left: 17%;
        width: 80%;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        text-align: right;
        letter-spacing: -0.065em;
        color: #FFFFFF;
      }
    }

    &__block2 {
      background-color: #292D32;
      font-family: 'Inter';

      &__block_2_img {
        width: 100%;
      }

      &__title {
        padding-top: 3%;
        width: 80%;
        margin: 0 auto;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -10;
      }

      &__description {
        padding-top: 5%;
        width: 70%;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }

      &__description2 {
        display: flex;
        align-items: center;
        justify-content: center;
        

        &_list {
          padding: 5% 0;
          margin: 0 auto;
          font-style: normal;
          width: 70%;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          align-items: center;
          color: #FFFFFF;
          list-style-type: circle;
        }
      }
    }

    &__block3 {
      background-color: #875232;
      font-family: 'Inter';

      &__title {
        padding-top: 3%;
        width: 90%;
        margin: 0 auto;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        letter-spacing: -0.03em;
        color: #F5F5F5;
        font-variation-settings: 'slnt' -10;
      }

      &__description {
        padding-top: 2%;
        width: 90%;
        margin: 0 auto;
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        // line-height: 12px;
        align-items: center;
        color: #F5F5F5;
        font-variation-settings: 'slnt' -5;

        &_title {
          margin-bottom: 2%;
        }

        &_list {
          margin-bottom: 5%;
        }
      }

      &__vanna {
        width: 100%;
        height: 60vh;
        object-position: center center;
      }
    }

    &__block4 {
      background-color: #875232;
      font-family: 'Inter';

      &__title {
        position: relative;
        left: 10%;
        width: 90%;
        padding-right: 5%;
        padding-top: 4%;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 95.52%;
        text-align: right;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -10;
      }

      &__description {
        padding-top: 5%;
        width: 90%;
        margin: 0 auto;
        font-style: italic;
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        display: flex;
        align-items: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -5;
      }

      &__vanna2 {
        margin-top: 5%;
        width: 100%;
        object-position: center center;
      }
    }

    &__block5 {
      background-color: #292D32;
      font-family: 'Inter';

      &__title {
        // width: 80%;
        // padding: 5% 10% 0 0;
        padding-top: 5%;
        padding-right: 5%;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 117.52%;
        text-align: right;
        letter-spacing: -0.035em;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -10;
      }

      &__description {
        padding: 5% 3% 0 3%;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 130%;
        display: flex;
        align-items: center;
        letter-spacing: 0.095em;
        color: #FFFFFF;
      }

      &__vanna2 {
        margin-top: 5%;
        width: 100%;
        object-position: center center;
      }
    }

    &__block6 {
      background-color: #292D32;
      font-family: 'Inter';

      &__title {
        padding: 3%;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 101.52%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -10;
      }

      &__description {
        padding: 3% 3% 0 3%;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 117.52%;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.11em;
        font-feature-settings: 'tnum' on, 'lnum' on;
        color: #FFFFFF;
      }

      &__vanna2 {
        margin-top: 5%;
        width: 100%;
        object-position: center center;
      }
    }

    &__footer {
      background-color: #292D32;
      color: white;
      font-family: 'Inter';
      font-weight: 400;

      &-description {
        padding: 4%;
        width: 90%;
        margin: 0 auto;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 100.52%;
        display: flex;
        align-items: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }

    &__contact-item {
      color: #FFFFFF;
      text-transform: uppercase;
      text-decoration: none;
      
    }

    &__contact-link {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 93.52%;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      color: #FFFFFF;


      
    }

    &__contacts {
      margin: 4%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30%;
      padding-right: 5%;
      padding-left: 5%;


    }

    &__galery {
      color: white;
      background-color: #875232;

      &__container {
        display: flex;
        justify-content: space-around;
      }

      &__title {
        padding: 4%;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        line-height: 101.52%;
        text-align: center;
        letter-spacing: 0.21em;
        color: #FFFFFF;
        font-variation-settings: 'slnt' -10;
      }

      &__button__title {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        margin-bottom: 5%;
      }
    }

    &__galary {
      width: 140px;
      height: 220px;


    }
  }

  .mobile__contacts-copyriting {
    margin-top: 8%;
    padding-bottom: 2%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 93.52%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}