.error_message{
  height: 200px;
  width: 400px;
  background-color: #403E63;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;

  z-index: 1;
  border-radius: 24px;
}

.error_title {
  margin-top: 30px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 960px) {
  
}

