.nav {
  background-color: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }

  &__logo {
    color: #fff;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    flex-grow: 1;
  }

  &__menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }

  &__icon {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .nav {
    &__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1px solid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all .5s ease;
  
      &.active {
        background-color: #393655;
        left: 0;
        opacity: 1;
        transition: all .5s ease;
        z-index: 1;
      }
    }

    &__icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #fff;
    }
  }
}
