.close-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 44px;
  background-color: #162938;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  z-index: 1;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
