* {
  padding: 0;
  margin: 0;
  font-family: 'MuseoModerno', cursive;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'MuseoModerno', cursive;
  list-style-type: none;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-image: url(../src/img/background.jpg);
  background-size: cover;
  background-position: center;
}

.pages {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 15%;
  backdrop-filter: blur(25px);
}
