* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: #2B282F;
  background-size: cover;
  background-position: center;
}

.pages {
  display: flex;
  justify-content: center;
}
